@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using Controlnet_Project_Manager.Areas.Identity.Data
@using Controlnet_Project_Manager.Data

@using Button = Controlnet_Project_Manager.Shared.Model.Button
@using Controlnet_Project_Manager.Shared.Model
@using MudBlazor
@using static Controlnet_Project_Manager.Pages.Index

@using System.Reflection;
@using System.ComponentModel;

@attribute [Authorize]
@inject ApplicationDbContext _ApplicationDbContext
@inject IDbContextFactory<ApplicationDbContext> DbFactory

@inject AuthenticationStateProvider _auth
@inject UserManager<CPMUser> _UserManager
@inject IDialogService _dialogService;
@inject CRUD Crud
@inject IHttpContextAccessor _httpContextAccessor
@inject IJSRuntime _jSRuntime;
@inject NavigationManager _navigationManager
@inject MyCustomTheme tema;

<style >
    body {
        background: @(Layout.esModoNocturno() ? $"{tema.Theme.PaletteDark.Background}" : $"{tema.Theme.Palette.Background}");
    }


    .mud-paper {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
    }


    .mud-typography-subtitle {
        font-size: 1.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: none;
    }


    .mud-input-label-outlined {
        transform: translate(14px, 20px) scale(1);
        pointer-events: none;
        padding: 0 5px !important;
    }


    .mud-toolbar {
        --mud-internal-toolbar-height: 15%;
    }


    .titulo-estado {
        font-size: 1.0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60px;
    }


    .mud-paper {
        font-size: 0.8rem;
        text-align: left;
    }

    .floating-button {
        position: fixed;
        bottom: 20px;
    }


    .text-task {
        font-size: 0.8rem;
        color: #90A4AE;
    }


    .text-task-black {
        font-size: 0.8rem;
        color: #000;
    }

    .text-task-oscuro{
        font-size: 0.8rem;
        color: #fff;
    }

    .mud-menu-custom {
        width: 300px;
    }

    .separador {
        margin: 2px 0;
    }


    .cuadro-proyecto {
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        .cuadro-incidencia, .cuadro-desarrollo

    {
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .cell-template {
        border: 1px solid @tema.Theme.Palette.Primary;
        color: @tema.Theme.Palette.Primary;
        background-color: @tema.Theme.Palette.Background;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .no-selection {
        pointer-events: none;
    }
</style>


<MudToolBar DisableGutters="true" Class="d-flex" Style="@(Layout.esModoNocturno() ? $"border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; height: 60px; width: 100%; flex-direction: row; background-color: {tema.Theme.PaletteDark.Primary.ToString()}; padding: 0 10px; justify-content: space-between; align-items: center;" : $"border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; height: 60px; width: 100%; flex-direction: row; background-color: {tema.Theme.Palette.Primary.ToString()}; padding: 0 10px; justify-content: space-between; align-items: center;")">

    <div style="display: flex; flex-direction: row; justify-content: space-around; width: 33%;">
        @if (menuRol != null && menuRol.Crear)
        {
            <MudButton @onclick="@(() => InvokeAsync(NewDesarrolloDialog))"
                       Variant="Variant.Text"
                       Color="Color.Secondary"
                       StartIcon="@Icons.Material.Filled.Add">
                Nuevo Desarrollo
            </MudButton>
        }
    </div>

    <div style="width: 33%; text-align: center;">
        <MudText Color="Color.Secondary" Typo="Typo.h6">DESARROLLOS</MudText>
    </div>

    <div style="width: 33%; flex-direction: row; display: flex; align-items: center; justify-content: space-around">
       

        <MudMenu AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.BottomRight" Class="mud-menu-custom">
            <ActivatorContent>
                <MudChip Size="Size.Large" Color="Color.Secondary" Style="@(Layout.esModoNocturno() ? $"color: {tema.Theme.PaletteDark.Primary.ToString()}; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 5px;" : $"color: {tema.Theme.Palette.Primary.ToString()}; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 5px;")">
                    <div style="position: absolute; left: 15px; max-width: 80%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        @(TextSelection("Estado", _selectedEstadosDesarrollo))
                    </div>
                    <div style="position: absolute; right: 5px; bottom: 8px;">
                        <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Class="ms-1" />
                    </div>
                </MudChip>
            </ActivatorContent>
            <ChildContent>
                @foreach (var estado in _estadosDesarrollo.Select(it => it.Nombre))
                {
                    var isChecked = _selectedEstadosDesarrollo.Contains(estado);

                    <MudMenuItem Style="width: 250px; height: 50px;">
                        <div>
                            <MudCheckBox T="bool" @bind-Checked=isChecked Label="@estado" @onclick="@(() => ToggleSelection(estado,_selectedEstadosDesarrollo))" />
                        </div>
                    </MudMenuItem>
                }
            </ChildContent>
        </MudMenu>
    </div>

</MudToolBar>
<br/>
<br/>
@if (!Cargando)
{
    <MudDropContainer T="Desarrollo" @ref="_dropContainer" Items="@FiltrarDesarrollos()" ItemsSelector="@((item,column) => item.EstadoDesarrollo.Nombre == column)" ItemDropped="TaskUpdated" Class="d-flex flex-row" Style="width:100%" CanDrop="@CanDrop">

        <ChildContent>
            <div style="display: flex; justify-content: space-around;">
                @foreach (var item in _selectedEstadosDesarrollo)
                {
                    string customClass = "my-2 mx-2 ";
                    string customKanTaskClass = "mud-height-full ";

                    var desarrollosEnEstado = ListaDesarrollos.Count(p => p.EstadoDesarrollo.Nombre == item);
                    ColorStatus colorStatus = _color.FirstOrDefault(c => c.Name == item);
                    string customBorderClass = "border-left: 5px solid " + colorStatus.ColorHeader;

                    <MudPaper Elevation="3" Width="300px" MinHeight="100px" Class="@customClass">
                        <MudText Typo="Typo.subtitle2" Class="titulo-estado" Style="@(Layout.esModoNocturno() ? "color:white" : "")">@item: @desarrollosEnEstado</MudText>
                        <hr style="border-top: 1px solid @colorStatus.ColorHeader; width: 100%;">
                        <MudDropZone T="Desarrollo" Identifier="@item" Class="@customKanTaskClass" Style="margin: 5px;"></MudDropZone>
                    </MudPaper>
                }
            </div>
        </ChildContent>


        <ItemRenderer>
            @if (context != null)
            {
                string customBorder = "pa-4 lg my-3 " + context.EstadoDesarrollo;
                ColorStatus colorStatus = _color.FirstOrDefault(c => c.Name == context.EstadoDesarrollo.Nombre);
                string customBorderClass = "border-left: 5px solid " + colorStatus.ColorHeader;

                <MudPaper Class="pa-4 lg my-3" Style="@customBorderClass" @ondblclick="@(() => InfoDesarrolloDialog(context))">
                    <div class="d-flex align-items-center" style="margin-bottom: 8px;">
                        <MudIcon Icon="@Icons.Material.Filled.TaskAlt" Class="bi" Style="@(Layout.esModoNocturno() ? "margin-right: 8px;color:white" : "margin-right: 8px;")" />
                        <MudText Class="titulo-proyecto" Style="@(Layout.esModoNocturno() ? "color:white" : "")">@context.Nombre</MudText>

                    </div>
                    <div class="d-flex flex-column">

                        <div class="d-flex align-items-center">

                            <MudIcon Icon="@Icons.Material.Filled.CalendarToday" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Dark)" Class="mr-2" />

                            <span class="text-task">Fecha Creación: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">@context.FechaCreacion.ToString("dd/MM/yyyy")</span></span>
                        </div>
                        <div class="d-flex align-items-center">
                            <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Dark)" Class="mr-2" />
                            @if (context.FechaFinalizacion != null)
                            {
                                <span class="text-task">Fecha Cerrada: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">@(context.FechaFinalizacion.ToString().Substring(0, 10))</span></span>
                            }
                            else
                            {
                                <span class="text-task">Fecha Cerrada: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">Sin fecha</span></span>
                            }

                        </div>
                        <div class="d-flex align-items-center">
                            <MudIcon Icon="@Icons.Material.Filled.PersonOutline" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Dark)" Class="mr-2" />
                            @if (context.Autor != null)
                            {
                                <span class="text-task">Autor: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">@context.Autor</span></span>
                            }
                            else
                            {
                                <span class="text-task">Autor: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">Sin autor</span></span>
                            }

                        </div>
                        <div class="d-flex align-items-center">
                            <MudIcon Icon="@Icons.Material.Filled.Person" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Dark)" Class="mr-2" />
                            @if (context.UsuarioAsignado != null)
                            {
                                <span class="text-task">Programador: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">@context.UsuarioAsignado.Nombre</span></span>
                            }
                            else{
                                <span class="text-task">Programador: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">Sin asignar</span></span>
                            }

                        </div>
                        <div class="d-flex align-items-center">
                            <MudIcon Icon="@Icons.Material.Filled.Description" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Dark)" Class="mr-2" />
                            @if (context.Informacion != null)
                            {
                                <span class="text-task">Descripción: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">@((MarkupString)@context.Informacion)</span></span>
                            }
                            else
                            {
                                <span class="text-task">Descripción: <span class="@(Layout.esModoNocturno() ? "text-task-oscuro" : "text-task-black")">Sin información</span></span>
                            }

                        </div>

                        <MudButtonGroup VerticalAlign="false" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Primary)" Variant="Variant.Outlined" Class="align-self-center mt-2">
                            @if (menuRol != null && menuRol.Editar)
                            {
                                <MudTooltip Text="Editar Desarrollo">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Primary)" OnClick="@((e) => { EditDesarrolloDialog(context); })" />
                                </MudTooltip>
                            }
                            @if (menuRol != null && menuRol.Eliminar)
                            {
                                <MudTooltip Text="Eliminar">
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="@(Layout.esModoNocturno() ? Color.Tertiary : Color.Primary)" OnClick="@((e) => { EliminarDesarrollo(context); })" />
                                </MudTooltip>
                            }
                        </MudButtonGroup>
                        
                    </div>

                </MudPaper>

            }
        </ItemRenderer>
    </MudDropContainer>

}

@code{
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    bool isChecked = false;
    string vistaActual = "Normal";
    [Parameter] public string id { get; set; }
    [Parameter] public EventCallback<int> OnCountDesarrollo { get; set; }
    [Parameter] public Proyecto proyecto { get; set; }
    [Parameter] public string ProyectoSelect { get; set; }

    private List<String> _selectedEstadosDesarrollo = new List<String>();
    private List<ProgramadoresProyecto> _programadores = new List<ProgramadoresProyecto>();
    private List<EstadoDesarrollo> _estadosDesarrollo = new List<EstadoDesarrollo>();
    private int numDesarrollo { get; set; }
    private string url = "";
    private int idMenu = 0;
    private MenuRol menuRol = null;
    public CPMUser usuario { get; set; }
    private bool Cargando = true;
    Stack<Desarrollo> navegacionProyecto = new Stack<Desarrollo>();
    private Desarrollo desarrollo { get; set; }
    private List<Desarrollo> ListaDesarrollos = new List<Desarrollo>();
    List<Desarrollo> _section = new List<Desarrollo>();
    private MudDropContainer<Desarrollo> _dropContainer;
    private List<ColorStatus> _color = new();
    private void Vista(string tipo){
        vistaActual = tipo;
    }

    private void ToggleSelection(string item, List<String> lista)
    {
        if (lista.Contains(item))
        {
            lista.Remove(item);
        }
        else
        {
            lista.Add(item);
        }
    }

    private async Task TaskUpdated(MudItemDropInfo<Desarrollo> info)
    {
        Console.WriteLine(info.Item.EstadoDesarrollo.Nombre + " " + info.DropzoneIdentifier);
        var estadoToUpdate = _ApplicationDbContext.EstadosDesarrollos.FirstOrDefault(e => e.Nombre == info.DropzoneIdentifier);
        info.Item.EstadoDesarrollo = estadoToUpdate;
        await UpdateDesarrolloStatus(info.Item.Id, info.DropzoneIdentifier);
    }

    private async void EliminarDesarrollo(Desarrollo des)
    {

        var result = await _dialogService.ShowMessageBox("Eliminar desarrollo", "¿Seguro que quieres eliminar desarrollo?", "Si", "No");
        des = _ApplicationDbContext.Desarrollos.FirstOrDefault(it => it.Id == des.Id);

        if (result is true && des != null)
        {

            _ApplicationDbContext.Desarrollos.Remove(des);
            await _ApplicationDbContext.SaveChangesAsync();

        }

        _ApplicationDbContext.EstadosDesarrollos.OrderBy(it => it.Id).ToList();
        if (int.TryParse(id, out int projectId))
        {
            OnCountDesarrollo.InvokeAsync(await _ApplicationDbContext.Desarrollos.Where(it => it.Proyecto.Id == projectId && it.EstadoDesarrollo.Nombre == "Pendiente").CountAsync());
        }
        await CargarDesarrolloPorProyecto(proyecto);
        StateHasChanged();

    }

    private async Task CargarDesarrolloPorProyecto(Proyecto pro)
    {
        try
        {
            ListaDesarrollos = await _ApplicationDbContext.Desarrollos
            .Include(it => it.EstadoDesarrollo)
            .Include(it => it.Proyecto)
            .Include(it => it.Autor)
            .Where(desarrollo => desarrollo.Proyecto.Id == pro.Id)
            .ToListAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await Task.Delay(100);
            await CargarDesarrolloPorProyecto(pro);
        }
    }

    private async Task EditDesarrolloDialog(Desarrollo des)
    {
        @if (menuRol != null)
        {
            var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, DisableBackdropClick = true, MaxWidth = MaxWidth.Medium };

            var parameters = new DialogParameters();
            parameters.Add("desarrollo", des);
            parameters.Add("proyecto", proyecto);
            //parameters.Add("_ApplicationDbContext", _ApplicationDbContext);
            var dialog = await _dialogService.Show<NewDesarrollo>("Editar Desarrollo", parameters, options).Result;
            if (dialog.Data != null)
            {
                // Si FinalizacionDesarrollo está activo, establecer la FechaFinalizacion
                if (des.EstadoDesarrollo.FinalizacionDesarrollo)
                {
                    des.FechaFinalizacion = DateTime.Now;
                    _ApplicationDbContext.Desarrollos.Update(des);
                    _ApplicationDbContext.SaveChanges();
                }

                await CargarDesarrolloPorProyecto(proyecto);
                StateHasChanged();
            }
        }
    }

    private bool CanDrop(Desarrollo item, string column)
    {
        return menuRol.Editar;
    }

    private async Task UpdateDesarrolloStatus(int desarrollo, string newStatus)
    {
        // Consultar el estado con el nombre proporcionado en la base de datos.
        var estadoToUpdate = _ApplicationDbContext.EstadosDesarrollos.FirstOrDefault(e => e.Nombre == newStatus);

        // Consultar el desarrollo con el nombre proporcionado en la base de datos.
        var desarrolloToUpdate = _ApplicationDbContext.Desarrollos.FirstOrDefault(p => p.Id == desarrollo);

        // Verifica si se encontraron tanto el proyecto como el estado en la base de datos.
        if (desarrolloToUpdate != null && estadoToUpdate != null)
        {
            // Actualiza el estado del proyecto con el estado encontrado.
            desarrolloToUpdate.EstadoDesarrollo = estadoToUpdate;

            // Guarda los cambios en la base de datos.
            _ApplicationDbContext.SaveChanges();
        }
    }

    private async void InfoDesarrolloDialog(Desarrollo des)
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Small };
        parameters.Add("Desarrollo", des);
        var dialog = await _dialogService.Show<InfoDesarrollo>("Ver Informacion del desarrollo", parameters, options).Result;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (int.TryParse(id, out int projectId))
            {
                usuario = Layout.usuario;

                url = GetLastSegmentUrl();
                idMenu = GetIdMenu(url);
                menuRol = await Crud.GetMenuRol(idMenu, usuario);

                Cargando = false;
                navegacionProyecto.Push(desarrollo);
                proyecto = await _ApplicationDbContext.Proyectos.FindAsync(projectId);
                await CargarDesarrollosPorProyecto(proyecto);
                await cargarProgramadores();
                await cargarEstadosDesarrollos();
                await using var ctx = await DbFactory.CreateDbContextAsync();

                // Obtener la lista de nombres de los tipos de desarrollo
                var tiposIncidencias = await ctx.EstadosIncidencias
                                                .Where(e => e.Notificar)
                                                .Select(e => e.Nombre)
                                                .ToListAsync();


                Dictionary<string, int> recuentoDesarrollosPorTipo = new Dictionary<string, int>();

                foreach (var tipo in tiposIncidencias)
                {
                    int recuento = await ctx.Desarrollos
                                            .Where(it => it.Proyecto.Id == projectId && it.EstadoDesarrollo.Nombre == tipo)
                                            .CountAsync();

                    recuentoDesarrollosPorTipo.Add(tipo, recuento);
                }
                _color = _estadosDesarrollo.Select(estado => new ColorStatus(
                                                    estado.Nombre,
                                                    estado.Color,
                                                    LightenColor(estado.Color)
                                                           )).ToList();

                await CalcularTotalDesarrollos();
            }
            else
            {
                await CargarDesarrollosDesdeBD();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await Task.Delay(100);
            await OnInitializedAsync();
        }
    }


    private string TextSelection(string item, List<String> lista)
    {
        var texto = "";

        if (lista.Count == 0)
        {
            texto = item;

        }
        else if (lista.Count == 1)
        {
            texto = lista.FirstOrDefault();

        }
        else
        {
            texto = "2 " + item + " o más seleccionados";
            texto = texto.Substring(0, Math.Min(texto.Length, 25)) + "...";
        }
        FiltrarDesarrollos();
        return texto;
    }

    private List<Desarrollo> FiltrarDesarrollos()
    {
        return ListaDesarrollos
            .FindAll(it => (!_selectedEstadosDesarrollo.Any() || _selectedEstadosDesarrollo.Any(s => s == it.EstadoDesarrollo?.Nombre)));
    }

    private async Task cargarProgramadores()
    {
        if (int.TryParse(id, out int projectId))
        {
            await using var ctx = await DbFactory.CreateDbContextAsync();

            _programadores = await ctx.ProgramadoresProyectos.Include(it => it.Programador).Include(it => it.Proyecto).Where(programador => programador.Proyecto.Id == projectId).ToListAsync();
        }
    }

    private async Task cargarEstadosDesarrollos()
    {
        await using var ctx = await DbFactory.CreateDbContextAsync();

        _estadosDesarrollo = await ctx.EstadosDesarrollos.ToListAsync();
        _selectedEstadosDesarrollo = ListaDesarrollos.ConvertAll(c => c.EstadoDesarrollo.Nombre).Distinct().ToList();

    }

    private async Task CargarDesarrollosDesdeBD()
    {
        try
        {
            ListaDesarrollos = await _ApplicationDbContext.Desarrollos.Include(it => it.EstadoDesarrollo).Include(it => it.Proyecto).Include(it => it.UsuarioAsignado).Include(it => it.Autor).ToListAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await Task.Delay(100);
            await CargarDesarrollosDesdeBD();
        }
    }

    private async Task CalcularTotalDesarrollos()
    {
        if (int.TryParse(id, out int projectId))
        {
            await using var ctx = await DbFactory.CreateDbContextAsync();

            // Obtener la lista de nombres de los tipos de desarrollos seleccionados
            var tiposDesarrollos = await ctx.EstadosDesarrollos
                                            .Where(e => e.Notificar)
                                            .Select(e => e.Nombre)
                                            .ToListAsync();

            // Contador para el total de desarrollo
            int totalDesarrollos = 0;

            // Iterar sobre cada tipo y sumar el total de desarrollo
            foreach (var tipo in tiposDesarrollos)
            {
                int recuento = await ctx.Desarrollos
                                        .Where(it => it.Proyecto.Id == projectId && it.EstadoDesarrollo.Nombre == tipo)
                                        .CountAsync();

                totalDesarrollos += recuento;
            }

            // Asignar el total al contador
            numDesarrollo = totalDesarrollos;

            // Llamar a OnCountDesarrollo para actualizar el valor en la página anterior
            await OnCountDesarrollo.InvokeAsync(numDesarrollo);
        }
        FiltrarDesarrollos();
    }
   
    private async void NewDesarrolloDialog()
    {

        if (desarrollo == null)
        {
            desarrollo = new Desarrollo();
        }

        if (!string.IsNullOrEmpty(id))
        {
            if (int.TryParse(id, out int projectId))
            {

                desarrollo.Proyecto = await _ApplicationDbContext.Proyectos.FindAsync(projectId);

                var parameters = new DialogParameters();
                parameters.Add("Proyecto", desarrollo.Proyecto);
                var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Medium };
                var dialog = await _dialogService.Show<NewDesarrollo>("Nuevo desarrollo", parameters, options).Result;

                if (dialog.Data != null)
                {
                    await CargarDesarrollosPorProyecto(proyecto);
                    OnCountDesarrollo.InvokeAsync(await _ApplicationDbContext.Desarrollos.Where(it => it.Proyecto.Id == projectId && it.EstadoDesarrollo.Nombre == "Pendiente").CountAsync());
                    StateHasChanged();
                }
            }
            else
            {

                Console.WriteLine("ID de desarrollo no válido");
                return;
            }
        }
    }

    public static string LightenColor(string colorHex)
    {
        if (!colorHex.StartsWith("#") || (colorHex.Length != 7 && colorHex.Length != 9))
        {
            throw new ArgumentException("Formato de color hexadecimal no válido.", nameof(colorHex));
        }

        // Convertir el colorHex a valores RGB y alfa
        byte r = Convert.ToByte(colorHex.Substring(1, 2), 16);
        byte g = Convert.ToByte(colorHex.Substring(3, 2), 16);
        byte b = Convert.ToByte(colorHex.Substring(5, 2), 16);
        byte a = colorHex.Length == 9 ? Convert.ToByte(colorHex.Substring(7, 2), 16) : (byte)255;

        // Aclarar los componentes RGB
        r = (byte)(r + (255 - r) * 0.8);
        g = (byte)(g + (255 - g) * 0.8);
        b = (byte)(b + (255 - b) * 0.8);

        // Convertir los valores a formato hexadecimal
        string nuevoColorHex = $"#{r:X2}{g:X2}{b:X2}{a:X2}";

        return nuevoColorHex;
    }

    private async Task CargarDesarrollosPorProyecto(Proyecto pro)
    {
        try
        {

            ListaDesarrollos = await _ApplicationDbContext.Desarrollos.Include(it => it.EstadoDesarrollo).Include(it => it.Proyecto).Include(it => it.UsuarioAsignado).Include(it => it.Autor).Where(incidencia => incidencia.Proyecto.Id == pro.Id).ToListAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await Task.Delay(100);
            await CargarDesarrollosPorProyecto(pro);
        }
    }

    private string GetLastSegmentUrl()
    {
        Uri uri = new Uri(_navigationManager.Uri);
        Uri basePath = new Uri(_navigationManager.BaseUri);
        string relativeUri = basePath.MakeRelativeUri(uri).ToString();
        int indiceBarra = relativeUri.IndexOf('/');
        string nombreUrl = relativeUri.Substring(0, indiceBarra);
        return nombreUrl;
    }

    private int GetIdMenu(string url)
    {
        int menuId = 0;
        foreach (MenuEnum menuOption in Enum.GetValues(typeof(MenuEnum)))
        {
            if (GetEnumDescription(menuOption).Equals(url))
            {
                menuId = (int)menuOption;
                return menuId;
            }
        }
        return menuId;
    }

    private string GetEnumDescription(Enum value)
    {
        Type type = value.GetType();
        string nombre = Enum.GetName(type, value);
        FieldInfo fieldInfo = type.GetField(nombre);

        DescriptionAttribute attribute = Attribute.GetCustomAttribute(fieldInfo, typeof(DescriptionAttribute)) as DescriptionAttribute;
        return attribute == null ? null : attribute.Description;
    }

}
